body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0ae51;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #e0a961;
    text-align: center;
    color: #4d8645;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: white;
}

main {
    background-color: #de903c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#home {
    text-align: center;
}

#home h2 {
    color: #333;
}

button {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e65c00;
}
